{% extends 'base.html' %}
{% block content %}

{% for item in cart_items %}
    <div class="cart-item">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
        <p>{{ item.product.name }}</p>
        <p>Price: NRs. {{ item.product.price }}</p>
        <input type="number" value="{{ item.quantity }}" class="cart-quantity" data-cart-id="{{ item.id }}" />
        <button class="btn btn-danger remove-cart" data-cart-id="{{ item.id }}">Remove</button>
    </div>
{% endfor %}
<p>Total Price: NRs. {{ total_price }}</p>


{% block content %}
