
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Prayush Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link" style="border: none; background: none;">Logout</button>
                    </form>
                </li>

                 {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>

                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Category</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Books-&-Stationary' %}">Books & Stationary</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Baby-Products' %}">Baby Products</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Groceries' %}">Groceries</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Sports' %}">Sports</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Health-&-Beauty' %}">Health & Beauty</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Clothes-&-Fashions' %}">Clothes & Fashions</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Electronics' %}">Eletronics</a></li>
                    </ul>
                </li>
               
            </ul>
            <a href="{% url 'cart_list' %}" class="btn btn-outline-dark d-flex align-items-center">
                <i class="bi-cart-fill me-1"></i>
                cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_num">{{cart|length}}</span>
            </a>
        </div>
    </div>
</nav>